<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if page.title != nil %}
            <title>{{ page.title }}</title>
        {% else %}
            <title>{{ site.name }}</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 65px;
            }
            .dropdown-backdrop {
                position: static;
            }
        </style>
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></sc\
            ript>
        <![endif]-->
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">FRC Western Canada</a>
                    <a class="brand" href="http://www.firstroboticscanada.org/"><img src="/img/logo.png" width="18" height="22"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Find a Team <b class="caret"></b></a>
                                <ul class="dropdown-menu dropdown">
                                    <li><a href="/students">Students</a></li>
                                    <li><a href="/mentors">Mentors</a></li>
                                    <li><a href="/sponsors">Sponsors</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Recruit <b class="caret"></b></a>
                                <ul class="dropdown-menu dropdown">
                                    <li><a href="/community-teams">Community Teams</a></li>
                                    <li><a href="/school-teams">School Teams</a></li>
                                </ul>
                            </li>
                            <li><a href="/curriculum">Curriculum</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            
            UNDER CONTRUCTION
