<h4>Founding Sponsors</h4>

<center>
    <table style="width:100%;">
        <tr>
            <td colspan="2">
                <center>
                    <a href="http://www.apegga.org/"><img style="margin-top:10px;width:100%;" src="/img/sponsors/apega.jpg"></a>
                </center>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <a href="http://schulich.ucalgary.ca/"><img style="margin-top:10px;width:100%;" src="/img/sponsors/schulich.jpg"></a>
                </center>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <a href="http://www.aoshirley.com/Home_Page.html"><img style="margin-top:10px;width:100%;" src="/img/sponsors/aoshirley.png"></a>
                </center>
            </td>
        </tr>
    </table>
</center>
