<h4>Our Sponsors</h4>

<center>
    <table>
        <tr>
            <td colspan="2">
                <center>
                    <a href="http://schulich.ucalgary.ca/"><img src="/img/sponsors/schulich.jpg"></a>
                    <a href="http://www.apegga.org/"><img style="margin-top:10px" src="/img/sponsors/apega.jpg"></a>
                </center>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <a href="http://www.huskyenergy.ca/"><img style="margin-top:10px" src="/img/sponsors/husky.jpg"></a>
                    <a href="http://www.sait.ca/"><img style="margin-top:10px" src="/img/sponsors/sait.jpg"></a>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <a href="http://alberta.ca/"><img style="margin-top:10px" src="/img/sponsors/alberta.jpg"></a>
                </center>
            </td>
            <td>
                <center>
                    <a href="http://www.cbe.ab.ca/"><img style="margin-top:10px" src="/img/sponsors/cbe.jpg"></a>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <a href="http://www.cssd.ab.ca/"><img style="margin-top:10px" src="/img/sponsors/cssd.jpg"></a>
                </center>
            </td>
            <td>
                <center>
                    <a href="http://www.calgary.ca/"><img style="margin-top:10px" src="/img/sponsors/cityofcalgary.jpg"></a>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <a href="http://isacalgary.com/"><img style="margin-top:10px" src="/img/sponsors/isa.jpg"></a>
                </center>
            </td>
            <td>
                <center>
                    <a href="http://www.tdcanadatrust.com/"><img style="margin-top:10px" src="/img/sponsors/td.jpg"></a>
                </center>
            </td>
        </tr>
    </table>
</center>
