{% include header.html %}

    <div class="row-fluid">
        <div class="span2">
            {% include sponsors.html %}
        </div>
        <div class="span7">
            <center>

            <h1>{{ page.title }}</h1>

            <h2>
                <p>{{ page.date }}</p>
            </h2>
            <h3>
                <p>{{ page.location }}</p>
            </h3>
            <h5>
                <p class="muted">{{ page.city }}</p>
            </h5>

            </center>
            
            {{ content }}
            
        </div>
        <div class="span3">
            {% include sidebar.html %}
        </div>
    </div>

{% include footer.html %}
